# spark_config.tmpl

spark.shuffle.spill                true
spark.executorEnv.AZURE_CLIENT_ID ${client_id}
spark.executorEnv.AZURE_TENANT_ID ${tenant_id}
spark.executorEnv.AZURE_CLIENT_SECRET ${client_secret}
